:root{
    --carousel-btn-color: aqua;
    --body-background-color: #6B717E;
    --login-box-width: 400px;
    --login-box-height: 500px;
    --registration-box-width: 400px;
    --registration-box-height: 850px;
}